@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
  }

  .details {
    flex: 3;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: calc(100% - 450px);

      @include md {
        padding-right: 0px;
        width: 100%;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
          border-radius: 5px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #fff9f7;
        padding: 20px;
        border-radius: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          width: 100px;
          background-color: #e4002b;
          border-radius: 5px;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: fixed;
    width: 450px;
    height: calc(100% - 80px);
    right: 0;

    @include md {
      flex: none;
      position: static;
      width: 100%;
      margin-bottom: 20px;
      height: auto;
      max-height: 500px;
    }

    .wrapper {
      padding: 0 20px;
      height: 100%;
      overflow-y: auto;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
  }
}
